</html>
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Area Manager - {{ area.name }}</title>
</head>

<body>
  <h1>
    {{ area.name }}
  </h1>
  <h2>
    By <a href="/user/{{ area.uid }}">{{ area.author }}</a>
  </h2>
  <img src="/area/{{ id }}/image" />
  <p class="formatted">{{ area.description }}</p>
  {% if session.uid == area.uid %}
    <p>
      <a href="/area/{{ id }}/edit">Edit area</a>
    </p>
    <p>
      <a href="/area/{{ id }}/delete">Delete area</a>
    </p>
  {% elif session.uid %}
    <p>
      You are logged in, but you didn't add this area.
    </p>
  {% else %}
    <p>
      You are not logged in.
    </p>
  {% endif %}
  <h2>Items</h2>
  {% for item in items %}
    <figure>
      <figcaption>
        {{ item.name }} by <a href="/user/{{ item.uid }}">{{ item.author }}</a> {% if session.uid == item.uid %}
          <a href="/item/{{ item.id }}/edit">Edit</a> <a href="/item/{{ item.id }}/delete">Delete</a>
        {% endif %}
      </figcaption>
      <img src="/item/{{ item.id }}/image" title="{{ item.name }}" />
    </figure>
  {% endfor %}
  {% if session.uid %}
  <form action="/create_item" method="post" enctype="multipart/form-data">
    <h3>Add new item:</h2>
    <p>
      Name: <br />
      <input type="text" name="name" required />
    </p>
    <p>
      Image (1 MB max, JPEG only): <br />
      <input type="file" name="image" accept=".jpg, .jpeg, .jpe" required />
    </p>
    <input type="hidden" name="aid" value="{{ id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Submit" />
  </form>
  {% endif %}
  <p>
    <a href="/">Go home</a>
  </p>
</body>

</html>
