</html>
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Area Manager</title>
</head>

<body>
  <h1>Area Manager</h1>
  {% if session.uid %}
  <p>
    You are logged in as {{ session.username }}
  </p>
  
  <p>
    <a href="/new_area">New area</a>
  </p>
  <p>
    <a href="/logout">Logout</a>
  </p>
  {% else %}
  <p>
    <a href="/register">Register</a>
  </p>
  <p>
    <a href="/login">Login</a>
  </p>
  {% endif %}
  <p>
    <a href="/areas">Areas</a>
  </p>
</body>

</html>
