</html>
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Area Manager - Login</title>
</head>

<body>
  {% if session.uid %}
  <p>
    You are already logged in!
  </p>
  
  <p>
    <a href="/">Go home</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" required />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" required />
    </p>
    <input type="submit" value="Login" />
  </form>
  {% endif %}
</body>

</html>
