</html>
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Area Manager - New Area</title>
</head>

<body>
  {% if session.uid %}
  <form action="/create_area" method="post" enctype="multipart/form-data">
    <p>
      Name: <br />
      <input type="text" name="name" required />
    </p>
    <p>
      Description: <br />
      <textarea name="description" required></textarea>
    </p>
    <p>
      Image (1 MB max, JPEG only): <br />
      <input type="file" name="image" accept=".jpg, .jpeg, .jpe" required />
    </p>
    <p>
      Vibe:
      {% for tag in all_tags %}
      <label><input type="checkbox" name="tag" value="{{ tag.value }}"> {{ tag.value }}</label>
      {% endfor %}
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Submit" />
  </form>
  {% else %}
  <p>
    You are not logged in!
  </p>
  <p>
    <a href="/">Go home</a>
  </p>
  {% endif %}
</body>

</html>
