</html>
<!DOCTYPE html>
<html>

<head>
  <title>Area Manager - Register</title>
</head>

<body>
  {% if session.uid %}
  <p>
    You are already logged in!
  </p>
  
  <p>
    <a href="/">Go home</a>
  </p>
  {% else %}
  <form action="/register" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Confirm password: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Register" />
  </form>
  {% endif %}
</body>

</html>
